In [4]:
import Analyze_kmulti_align as aka
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [5]:
path_file = "/home/dante/Julianne/antigens/kpax_results/5KAQ_B/5KAQ_B.kmulti"
obj = aka.AnalyzeKmulti()
obj.load_alignment(path_file)

In [7]:
#obj.kmulti.consensus

In [6]:
obj.calculate_conservation()
#obj.calculate_seq_conservation_consensus()

In [ ]:
obj.plot_conservation()

In [11]:
from IPython.display import HTML, display
#obj.annotated_alignment.pdbs

#display(HTML('<table><tr>{}</tr></table>'.format(
#       '</tr><tr>'.join(
#           '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data)
#       )
#))
strtext = "<h2> List of structures </h2> <table> "
strtext += "<tr> <td> ID </td> <td> PDB</td> <td> Chain </td> </tr>"
for i,pdb_list in enumerate(obj.annotated_alignment.pdbs):
    strtext += f"<tr> <td> {i} </td> <td> {pdb_list['pdb_id']} </td> <td> {pdb_list['chain']} </td> </tr> "
strtext += "</table>"

display(HTML(strtext))
#    print(i,pdb_list)

In [ ]:
#obj.print_align_resume()
for index in obj.epitope_index:
            print(index)
            frame =pd.DataFrame(obj.annotated_alignment.align[index])
            print(frame)

In [16]:
vanderwall = []
hydrobond = []
salt_bridge = []
hydrophobic = []
a_position = []
for i,alignment in enumerate(obj.epitope_conservation_type_int):
    
    vanderwall.append(0)
    hydrobond.append(0)
    salt_bridge.append(0)
    hydrophobic.append(0)
    a_position.append(i)
    
    if len(alignment) > 0:
        for key,num_int in alignment.items():
            if key == "Van-der-Waals":
                vanderwall[i] = num_int
            elif key == "Hydro-Bond":
                hydrobond[i] = num_int
            elif key == "Hydr-Phbc":
                hydrophobic[i] = num_int
            elif key == "Salt-Bridge":
                salt_bridge[i] = num_int

In [17]:
#import plotly.io as pio
#import plotly.express as px
#import plotly.offline as py
import chart_studio
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np

chart_studio.tools.set_credentials_file(username = 'dmontiel', api_key = 'DKrAy49GE275FruuCdzg')
ff = np.stack((np.array(a_position), np.array(vanderwall), np.array(hydrobond)) , axis=-1)
df =pd.DataFrame(ff)
df
#ff

       0  1  2
0      0  0  0
1      1  0  0
2      2  0  0
3      3  0  0
4      4  0  0
..   ... .. ..
825  825  0  0
826  826  0  0
827  827  0  0
828  828  0  0
829  829  0  0

[830 rows x 3 columns]

In [18]:
df.columns = ["a_pos", "van", "hydro"]
df

     a_pos  van  hydro
0        0    0      0
1        1    0      0
2        2    0      0
3        3    0      0
4        4    0      0
..     ...  ...    ...
825    825    0      0
826    826    0      0
827    827    0      0
828    828    0      0
829    829    0      0

[830 rows x 3 columns]

In [ ]:

#df
#print(df[1])
#data = [go.Bar(x=a_position[:10], y=a_position[:10])]
data2 = [go.Bar(x=df[0], y=df[1])]
#data2
py.iplot(data2, filename='jupyter-basic_bar')
#pio.show(fig)

In [ ]:


import plotly.graph_objects as go
fig = go.Figure(
    data=[go.Bar(y=[2, 1, 3])],
    layout_title_text="A Figure Displayed with fig.show()"
)
fig.show(renderer="iframe")

In [19]:



fig = px.bar(df, x="a_pos", y=["van", "hydro"], title="Epitope conservation")
fig.show(renderer="iframe")

In [2]:
import plotly.io as pio
pio.renderers

Renderers configuration
-----------------------
    Default renderer: 'plotly_mimetype+notebook'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery', 'sphinx_gallery_png']

In [19]:
consensus_df =pd.DataFrame(obj.kmulti.consensus)
consensus_df.insert(loc=0, column="a_pos", value=consensus_df.index )
consensus_df

,a_pos,GLY,ALA,ASP,THR,LEU,ILE,CYS,PHE,HIS,...,VAL,ASN,PRO,SER,LYS,GLN,GLU,ARG,TRP,MET
0,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
826,826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
828,828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [25]:
consensus_df.columns

Index(['a_pos', 'GLY', 'ALA', 'ASP', 'THR', 'LEU', 'ILE', 'CYS', 'PHE', 'HIS',
       'TYR', 'VAL', 'ASN', 'PRO', 'SER', 'LYS', 'GLN', 'GLU', 'ARG', 'TRP',
       'MET'],
      dtype='object')

In [27]:
fig = px.bar(consensus_df, x="a_pos", y=["GLY", "ALA", "ASP", "THR", 
                                         "LEU", "ILE","CYS", "PHE","HIS","TYR",
                                         "VAL", "ASN", "PRO", "SER", "LYS",
                                         "GLN", "GLU", "ARG", "TRP", "MET"], title="Alignment consensus")
fig.show(renderer="iframe")